@import '../node_modules/todomvc-app-css/index.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

.priority {
	position: absolute;
	right: 50px;
	bottom: 16px;
}

.evil {
	background: lightcoral;
}
